extends layout

block content
  .navigation
    a(href='/') ГЛАВНАЯ
    |
    | &rarr;
    |
    a(href='/elections') ВЫБОРЫ
  .row#intro(style={ display: 'none' })
    .col-md-12
      h3 Выборы
      a(href='https://d3.ru/democracy/cik/', target='_blank') Демократией
      |
      | для краткости называется ситуация, когда владелец подсайта включил на нем выборы и стал основателем.

      br
      br
  .row#input(style={ display: 'none' })
    .col-md-12
      p Введите название сообщества, чтобы посмотреть последние результаты выборов на нем:
      input#domain-name-input(type='text')
      input#ok(type="submit", value="OK")
  .row#recent-elections(style={ display: 'none' })
    .col-md-12
      br
      p Кстати, сегодня выборы идут или недавно прошли здесь:
      ul.list-unstyled#recent-elections-list
  .row#report(style={ display: 'none' })
    .col-md-12
      h4#domain-name
      svg#elections-chart.chart(height=400,width=800)
      #legend


block script
  script(src="/javascripts/elections.js")