extends layout

block content
  .navigation(style={position: 'relative', top: '-35px' })
    a(href='/') ГЛАВНАЯ
  .row
    .col-md-12
      p Привет! Здесь вы можете обнаружить интересные отчеты о
        |
        |
        a(href='https://d3.ru/', target='_blank') d3.ru
        |
        | – организованном сообществе людей:

        p Отчеты:
        ul
          li
            a(href='/user') Об одном пользователе
          li
            a(href='/users') Сравнение пользователей
          li
            a(href='/elections') Выборы в сообществах
          li
            a(href='/notes') Заметки

        p Настройки:
        ul
          li
            a(href='/tokens') Доступ
      p
        | Ещё больше отчетов вы можете найти в сообществе
        |
        a(href='https://dataisbeautiful.d3.ru/', target='_blank') dataisbeautiful
        |. Код этого сайта находится на
        |
        a(href='https://github.com/romaklimenko/d3ru/', target='_blank') ГитХабе.
        |
        | Пишите автору в
        |
        a(href='https://d3.ru/my/inbox/write/?to=romaklimenko', target='_blank') инбокс
        |
        | или на
        |
        a(href='mailto:romaklimenko@gmail.com') почту
        |.

