extends layout

block content
  include includes/navigation.pug
  .row
    .col-md-12
      h3 Привет!
      p Здесь вы можете обнаружить интересные отчеты о
        |
        |
        a(href='https://d3.ru/', target='_blank') d3.ru
        |
        | –
        |
        a(href='https://d3.ru/about/', target='_blank') организованном сообществе людей
        |.
        br
        | Подписывайтесь на
        |
        a(href='https://dataisbeautiful.d3.ru/', target='_blank') dataisbeautiful.d3.ru
        |, присылайте свои
        |
        a(href='https://github.com/romaklimenko/d3ru/', target='_blank') пулл-реквесты
        |
        | и идеи.