extends layout

block content
  include includes/navigation.pug
  .row
    .col-md-12
      h3 Привет!
      p Здесь вы можете обнаружить интересные (я надеюсь) отчеты о
        |
        |
        a(href='https://d3.ru/', target='_blank') d3.ru
        |
        | –
        |
        a(href='https://d3.ru/about/', target='_blank') организованном сообществе людей
        |.
        br
        | Пишите
        |
        |
        a(href='https://d3.ru/user/romaklimenko/', target='_blank') автору
        |, подписывайтесь на
        |
        a(href='https://dataisbeautiful.d3.ru/', target='_blank') dataisbeautiful.d3.ru
        |, присылайте свои
        |
        a(href='https://dataisbeautiful.d3.ru/', target='_blank') пулл-реквесты
        |
        | и идеи.