doctype html
html(lang='ru')
  head
    title= title
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png' href='favicon_ru.png')
  body
    img(src='/images/logo_main_retina.png', height=57, style={position: 'fixed', top: '5px', left: '5px'})
    .container
      block content
    script(src='https://d3js.org/d3.v5.min.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="/javascripts/tools.js")
    block script