extends layout

block content
  .navigation(style={position: 'relative', top: '-35px' })
    a(href='/') ГЛАВНАЯ
    |
    | &rarr;
    |
    a(href='/tokens') ДОСТУП
  .row
    .col-md-10
      img(src='/images/cookies.jpeg', style='height:250px;float:left;')
      p
        | Когда вы вводите имя своего пользователя и пароль на сайте
        |
        a(href='https://d3.ru/', target='_blank') d3.ru
        | , то в специальном месте сохраняются т.н.&nbsp;
        a(href='https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies', target='_blank') cookies
        |
        | (печеньки) со специальными значениями.
      p
        | Одна печенька – UID (User ID) – это номер, по которому сайт находит вашего пользователя у себя,
        | в таблице пользователей.
        | А другая печенька – SID (Session ID) – это строка.
      p
        | Каждый раз, когда вы открываете какую-нибудь страницу на d3.ru,
        | ваш браузер передает на сервер эти самые UID и SID.
        | Сервер эти значения проверяет и таким образом он знает, что вы – это вы.

      p
        | Если вы передадите ваши UID и SID кому-нибудь другому,
        | то этот другой сможет от вашего имени делать на d3.ru всё то же, что и вы:
        | писать посты и комментарии, голосовать, менять ваш пароль.
        | Поэтому не давайте ваши UID и SID тем, кому вы не доверяете.
        |
        em А лучше не давайте их вообще никому.

      p
        | Данные для некоторых отчетов на
        |
        em этом
        |
        | сайте доступны только для пользователей с
        |
        a(href='https://d3.ru/gold/', target='_blank') золотыми аккаунтами
        | .
        | Сейчас это только отчеты о карме: как менялась карма того или иного пользователя?
        | в какие дни было больше всего плюсов или минусов? от кого были эти плюсы и минусы?
        | Если вы являетесь счастливым обладателем золотого аккаунта и хотите посмотреть на все эти
        | увлекательные отчеты, то вы можете ввести свои UID и SID в поля ниже.

      p
        | Ваши UID и SID будут храниться в
        |
        a(href='https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage', target='_blank') localStorage
        |
        | вашего браузера,
        | а значит они не будут передаваться на сервер этого сайта при каждом запросе.
        | Я даю вам честное слово, что не буду злоупотреблять этими данными,
        | пытаться сохранить их где-нибудь ещё или подсмотреть их значения.

      p
        | А ещё вы можете посмотреть на код этого сайта на
        |
        a(href='https://github.com/romaklimenko/d3ru', target='_blank') GitHub
        | , чтобы убедиться,
        | что ваши SID и UID используются исключительно по назначению.

      p
        | Найти эти значения вы можете открыв консоль вашего браузера и выполнив следующий код:

      code
        | document.cookie.split(';').map(c => c.trim()).filter(c => c.startsWith('uid=') || c.startsWith('sid='))

  hr

  .row
    .col-md-10
      label(for='input-uid') UID:
      br
      input#input-uid(type="text", name="input-uid")
      br
      br
      label(for='input-sid') SID:
      br
      input#input-sid(type="text", name="input-sid", style='width:100%;')
      br
      br
      p
        | А ещё, если хотите просматривать
        |
        a(href='/notes') заметки
        | , укажите, пожалуйста, ваш username (регистр имеет значение!). А если не хотите, то ничего не пишите.
      label(for='input-username') username:
      br
      input#input-username(type="text", name="input-username", style='width:100%;')
      br
      br
      input#ok(type='button', value='Сохранить')
      br
      br


block script
  script(src='/javascripts/tokens.js')
