extends layout

block content
  .navigation(style={position: 'relative', top: '-35px' })
    a(href='/') ГЛАВНАЯ
    |
    | &rarr;
    |
    a(href='/user') ПОЛЬЗОВАТЕЛЬ
  .row#input(style={ display: 'none' })
    .col-md-12
      p Введите имя пользователя:
      input#user-name-input(type='text')
      input#ok(type="submit", value="OK")
  include includes/status.pug
  .row#report(style={ display: 'none' })
    .col-md-12
      h4.user-name

      p На этой странице:

      ul
        li
          a(href='#activities-chart') Активности по дням и времени суток
        li
          a(href='#weekdays-chart') Количество комментариев по дням
        li
          a(href='#sleeps-chart') Сон
        li
          a(href='#rating-chart') Кумулятивный рейтинг
        li
          a(href='#top-activities') Самые заплюсованные и заминусованные посты и комментарии
        li
          a(href='#rating-table') Рейтинг по сообществам
        li
          a(href='#karma-chart') Отчет об изменении кармы
        li
          a(href='#karma-log') Лог голосов в карму

      hr

      p Каждая точка – пост или комментарий пользователя
        |
        |
        span.user-name
        |. Зеленая – положительный рейтинг, красная – отрицательный, серая – 0:
      svg#activities-chart.chart(height=500,width=800)

      p Посмотрим на эти данные с другой стороны. Вот количество постов и комментариев,
        |
        | написанных пользователем, по дням. Будни черные, выходные дни – красные, а красная извилистая линия –
        |
        a(href='https://ru.wikipedia.org/wiki/Скользящая_средняя', target='_blank') скользящая средняя
        |
        | за 30 дней:
      svg#weekdays-chart(height=300,width=800)
      p Воспользовавшись поиском, можно посмотреть что писал
        |
        |
        span.user-name
        |
        | в свои самые активные дни:
      ul.list-unstyled#weekdays-report

      p А здесь можно увидеть когда пользователь недосыпал.
        |
        | Красные линии – меньше шести часов в сутки, оранжевые – меньше восьми:
      svg#sleeps-chart.chart(height=500,width=800)

      p А это – кумулятивный рейтинг постов и комментариев
        |
        |
        span.user-name
        |
        |
        | по всем сообществам:
      svg#rating-chart.chart(height=500,width=800)

      #top-activities

      hr

      strong Суммарный рейтинг постов и комментариев пользователя по сообществам:
      br
      .table-responsive
        table#rating-table
          thead
            tr
              th(scope='col') Сообщество
              th(scope='col') Количество
              th(scope='col') Рейтинг
              th(scope='col') Средний рейтинг
              th(scope='col') Рейтинг предпочитаемых сообществ
          tbody#rating-report

      hr

      p
        strong
          | Изменение кармы пользователя (отчет доступен только для
          |
          a(href='/tokens') золотых
          |
          | пользователей):
      svg#karma-chart.chart(height=500,width=800)

      dl#karma-log


block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js")
  script(src="/javascripts/user.js")
